.add-song-form {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  width: 100%;
}

.add-song-form__button {
  flex: 1 1 0;
}

.add-song-form__input {
  flex: 1 1 0;
  min-width: 0;
}

@media (max-width: 540px) {
  .add-song-form {
    flex-flow: column;
  }

  .add-song-form__button {
    min-width: 100%;
  }
}
