.icon-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  filter: var(--color-content-primary-filter);
  transition: all 0.2s ease-out;
}

.icon-button__icon {
  width: 30px;
  height: 30px;
}

@media (max-width: 414px) {
  .icon-button .icon-button__text {
    display: none;
  }
}
